[submodule "third_party/GWToolboxpp"]
	path = third_party/GWToolboxpp
	url = https://github.com/joeysapp/GWToolboxpp.git
[submodule "third_party/ModelMod"]
	path = third_party/ModelMod
	url = https://github.com/jmquigs/modelmod
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/GWCA"]
	path = third_party/GWCA
	url = git@github.com:joeysapp/GWCA.git
[submodule "third_party/Headquarter"]
	path = third_party/Headquarter
	url = https://github.com/ldufr/Headquarter
[submodule "third_party/nexus"]
	path = third_party/nexus
	url = https://github.com/ldufr/nexus
[submodule "third_party/OpenTyria"]
	path = third_party/OpenTyria
	url = https://github.com/ldufr/OpenTyria
[submodule "third_party/GuildWarsMapBrowser"]
	path = third_party/GuildWarsMapBrowser
	url = https://github.com/gwdevhub/GuildWarsMapBrowser
[submodule "third_party/GWDatBrowser"]
	path = third_party/GWDatBrowser
	url = https://github.com/kytulendu/GWDatBrowser
[submodule "third_party/gMod"]
	path = third_party/gMod
	url = https://github.com/gwdevhub/gMod
